.body{
  background-color: #f5f5f7;
}

.items{
display:flex;
flex-direction: row;
object-fit: cover;
padding:10px 0px 40px;
}
.item1{
  width:120px;
  height:78px;
  padding:18px 8px 16px;
  font-weight: bold;
  object-fit: contain;

}

.itemsname{
  font-family:Helvetica, Arial, sans-serif ;
  align-items: center;
  font-weight: bold;
  display: flex;
  font-size: 14px;
  justify-content: center;
}
.icon1{
  margin-left: 26px;
  border-radius: 5px;
}
.slider1 .items{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}
.slider1 .items .item1 {
  width:120px;
  height:78px;
  object-fit: contain;
}

.container1{
  max-width: 1200px;
  width:90%;
}
.ava-col{
  display:flex;
  justify-content: space-around;
  align-items: space-between;
 
  gap:5px;
  position: absolute;
  top:320px;
  left:620px;
}
.ava-col .pro-col{
  width: 10px;
  height: 10px;
  object-fit: contain;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  border:1px solid rgba(0,0,0,0.1);
  box-shadow: inset 2px 2px 30px rgba(0,0,0,0.03);
}
.icon1{
  background-color:#ffff;
  border:1px solid rgba(0,0,0,0.08);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.03);
  transition: all ease 0.3s;
}
.icon1:hover{
  box-shadow: 2px 2px 8px rgba(0,0,0,0.10);
  transform:scale(1.008);
  transition: all ease 0.3s;

}
